h1 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--heading-color);
  font-size: 3.2rem;
}

h2, h3, h4, h5 {
  color: var(--subheading-color);
}

p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

span, a, li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  display: block;

  &.underlined {
    margin: auto;
    width: fit-content;
    letter-spacing: .4rem;
    text-transform: lowercase;
    font-size: 1.4rem;
    text-align: center;
    color: var(--text-color);
    margin: 1.5rem auto;

      &::after {
      display: block;
      content: '';
      min-width: 100%;
      height: 1.1rem;
      background-color: var(--tertiary-color);
      margin-top: -9px;
      margin-left: -9px;
      padding: 0 1rem;
    }
  }
}
