.category {
  &__list {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin: var(--margin);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 12.5rem;
    width: 12.5rem;
    align-items: center;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--text-color);
  }
}
