.recipe {
  &__container {
    background-color: var(--tertiary-color);
  }

  &__list {
    padding: var(--margin);
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 3rem;
  }
  &__block{
    width: 22rem;
    height: 35rem;
    background-color: var(--pure-white);

    img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }

    a {
      text-decoration: none;
    }
    p {
      margin: 1.5rem 2rem;
      text-align: center;
    }
  }
  &__category {
    text-transform: uppercase;
    color: var(--highlighted-color);
  }
  &__name {
    text-align: center;
    color: var(--text-color);
    text-transform: capitalize;
    margin: 1.5rem 2rem;
  }
  &__description {
    color: var(--subheading-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
