.hero {
  &__image {
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  &__headline {
    font-size: 3.2rem;
    text-align: center;
  }
  &__text {
    max-width: 1200px;
    margin: auto;
    padding: 2rem var(--margin);
  }
}
